@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    /* overflow: hidden ;  confirm later */
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border: none;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
    transition: .5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff7800;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* start styling the header section */
header {
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.212);
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: #222;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.logo i {
    color: #ff7800;
}

.menu {
    position: relative;
    display: flex;
}

.menu .list {
    display: flex;
    align-items: center;
}

.menu .list li {
    padding: 0px 10px;
}

.menu .list li a {
    font-weight: 600;
    font-size: 18px;
    color: #191970;
    transition: .5s ease;
}

.menu .list li a.active {
    color: #ff7800;
}

.menu .list li:hover a {
    color: #ff7800;
}

.menu-btn {
    display: none;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box .search {
    position: relative;
}

.box .search .search-box {
    background-color: #fff;
    z-index: 99;
    position: absolute;
    top: 50px;
    right: -115px;
    /* right: -1000px; */
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
    transition: .5s ease;
    transform: translate(200%);
}

.box .search .search-box input {
    outline: none;
    padding: 0px 20px 0px 0px;
    border: none;
    width: 300px;
}

.box .search .search-box i {
    color: #eee;
}

.box .search .apear {
    transform: translate(-30%);
}

.box .shop {
    position: relative;
}
.box .shop .grocery {
    position: absolute;
    top: 50px;
    padding: 10px;
    right: -100px;
    background-color: #fff;
    border-radius: 6px;
    transform: translate(200%);
    transition: .5s ease;
}

.box .shop .grocery.open-grocery {
    transform: translate(-30%);
}
.box .shop .grocery .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
}
.box .shop .grocery .product img {
    width: 4rem;
}
.box .shop .grocery .product .txt p {
    color: #191970;
    font-weight: bold;
}
.box .shop .grocery .product i,
.box .shop .grocery .product .txt span {
    color: 	#C0C0C0;
}
.box .shop .grocery .product i:hover {
    color: #ff7800;
}
.box .shop .grocery .total {
    text-align: center;
    font-size: 20px;
    color: #191970;
    margin-bottom: 1rem;
}
.box .shop .grocery .chek-btn {
    font-size: 18px;
    width: 100%;
    border: 1px solid #191970;
    margin-left: auto;
    margin-right: auto;
    color: #191970;
    border-radius: 6px;
    padding: 5px;
    background-color: #fff;
    transition: .5s ease;
}

.box .shop .grocery .chek-btn:hover {
    background-color: #ff7800;
    color: #fff;
    border-color: #fff;
}


.box .log {
    position: relative;
}

.box .log .login {
    position: absolute;
    top: 50px;
    right: -100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #fff;
    width: 300px;
    z-index: 99;
    transform: translate(200%);
    transition: .5s ease;
}
.box .log  .open-log {
    transform: translate(-30%);
}
.box .log .login h3 {
    font-size: 20px;
    color: #191970;
    font-weight: bold;
}

.box .log .login input {
    width: 100%;
    padding: 5px 0px 5px 5px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 6px;
    background-color: #eee;
}

.box .log .login p span a {
    color: #ff7800;
    text-decoration:underline;
}
.box .log .login .login-btn {
    border: 1px solid #191970;
    width: 100%;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    color: #191970;
    background-color: #fff;
    padding: 5px 0px;
    transition: .5s ease;
}

.box .log .login .login-btn:hover {
    color: #fff;
    background-color: #ff7800;
    border-color: #fff;
}
/* the end of styling the header section */
/* home styling section */
.home {
    width: 100%;
    height: 80vh;
    background-image: url(/image/banner-bg.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home-container {
    text-align: center;
    text-transform: capitalize;
    width: 500px;
}

.home-container h1 {
    color: #191970;
    font-size: 25px;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.home-container h1 span {
    color: #ff7800;
}

.home-container p {
    color:gray;
    font-weight: 600;
    margin-bottom: 2rem;
}

.home-container .btn-home {
    font-size: 18px;
    padding: 5px 20px;
    border: 1px solid #191970;
    color: #191970;
    background-color: transparent;
    border-radius: 6px;
    transition: .5s ease;
    font-weight: 600;
}

.home-container .btn-home:hover {
    background-color: #ff7800;
    color: #fff;
}

/* the end of the home section */

/* start of the features section */
.features {
    padding-top: 3rem;
    background-color: #eee;
    padding-bottom: 3rem;
}

.heading {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: #191970;
}

.heading span {
    background-color: #ff7800;
    color: #fff;
    clip-path: polygon(100% 0 ,93% 50% ,100% 99% ,0% 100% ,7% 50% ,0% 0%);
    padding: 5px 20px;
}

.items {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 3rem;
}

.items article {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 300px;
    text-align: center;
    transition: .5s ease;
    background-color: #fff;
}

.items article:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.212);
    border-color: #191970;
}

.items article img {
    width: 200px;
    height: 150px;
}

.items article h3 {
    font-size: 20px;
    font-weight: bolder;
    color: #191970;
}

.items article p {
    color: gray;
}

.items article .btn-item {
    padding: 5px 10px;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid #191970;
    border-radius: 6px;
    color: #191970;
    font-weight: bolder;
    transition: .5s ease;
}

.items article .btn-item:hover {
    background-color: #ff7800;
    color: #fff;
}

/* the end of features section,  */


/* start styling prodctes section */


/* the end of styling productes section */
.products .products-slider {
    padding: 1rem;
}

.products .products-slider:first-child {
    margin-bottom: 2rem;
}

.products .products-slider .slide {
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: .1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    transition: .5s;
}

.products .products-slider .slide:hover {
    outline: .2rem solid #130f40;
    outline-offset: 0rem;
}

.products .products-slider .slide img {
    height: 15rem;
}

.products .products-slider .slide h3 {
    font-size: 2rem;
    color: #130f40;
}

.products .products-slider .slide .price {
    font-size: 1.5rem;
    color: #666;
    padding: .5rem 0rem;
}

.products .products-slider .slide .stars i {
    font-size: 1.2rem;
    color: #ff7800;
    padding: .5rem 0;
}

.products .products-slider .slide .btn-item {
    padding: 5px 20px;
    background-color: #fff;
    border-color: #191970;
    font-size: 1.2rem;
    color: #130f40;
    border-radius: 6px;
    transition: .5s;
}

.products .products-slider .slide .btn-item:hover {
    background-color: #ff7800;
    color: #fff;
}



/* categories */

.categores-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.categores-container .categor {
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: .1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    transition: .5s;
}

.categores-container .categor:hover {
    outline-offset: 0;
    outline: .2rem solid #130f40;
}

.categores-container .categor h3 {
    color: #130f40;
    font-size: 1.2rem;
}

.categores-container .categor p {
    font-size: 1rem;
    padding: .5rem 0;
    color: #666;
}

.categores-container .categor .btn-cat {
    padding: 5px 20px;
    background-color: #fff;
    font-size: 1rem;
    border-color: #191970;
    border-radius: 6px;
    font-weight: bold;
    color: #130f40;
    transition: .5s;
}

.categores-container .categor .btn-cat:hover {
    background-color: #ff7800;
    color: #fff;
}

.categores-container .categor img {
    width: 200px;
}



/* costomers */
.costomer .slide img {
    border-radius: 50%;
}

/* blogs */
.blogs {
    background-color: #eee;
}

.blogs .blogs-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.blogs .blogs-container .blog {
    width: 300px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.blogs .blogs-container .blog img {
    width: 100%;
}

.blogs .blogs-container .blog .content {
    padding: 10px;
}

.blogs .blogs-container .blog .content .adm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}

.blogs .blogs-container .blog .content .adm i{
    color: #ff7800;
}
.blogs .blogs-container .blog .content .adm::after {
    content: ' ';
    width: 100%;
    height: 1px ;
    background-color: #eee;
    position: absolute;
    bottom: 30%;
}

.blogs .blogs-container .blog .content h3 {
    color: #130f40;
    font-size: 1.5rem;
}

.blogs .blogs-container .blog .content p {
    color: #666;
    padding: 10px 0;
    margin-bottom: 1rem;
}


.blogs .blogs-container .blog .content .btn-blog {
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #130f40;
    border-color: #191970;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 6px;
    transition: .5s;
    border : 1px solid;
} 

.blogs .blogs-container .blog .content .btn-blog:hover {
    background-color: #ff7800;
    color: #fff;
}

footer {
    padding: 1rem 0;
}

footer .copyright {
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 1px;
}

footer .copyright span a {
    color: #ff7800;
    font-weight: bold;
}

footer .footer-container {
    display: flex;
    gap: 1rem;
    line-height: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}

footer .footer-container .footer-media,.footer-contact,.links-footer,.news-footer {
    width: 230px;
}

footer .footer-container .links-footer {
    display: flex;
    flex-direction: column;
}

footer .footer-container .links-footer a {
    color: #130f40;
}

footer .footer-container .links-footer a i {
    color: #ff7800;
}

footer .footer-container .footer-media .logo a {
    justify-content: flex-start;
    color: #130f40;
}

footer .footer-container .footer-contact {
    color: #130f40;
}

footer .footer-container .footer-contact i {
    color: #ff7800;
}

footer .footer-container .footer-media .social-media {
    padding: 20px 0;
}

footer .footer-container .footer-media .social-media a i {
    color: #666;
    font-size: 2rem;
    transition: .5s ease;
}

footer .footer-container .footer-media .social-media a i:hover {
    color: #ff7800;
}

footer .footer-container .news-footer .btn-footer {
    padding: 5px 20px;
    background-color: #fff;
    color: #130f40;
    border: 1px solid;
    border-color: #191970;
    border-radius: 6px;
    font-size: 1.2rem;
    margin-top: 10px;
    transition: .5s;
}

footer .footer-container .news-footer .btn-footer:hover {
    background-color: #ff7800;
    color: #fff;
}

footer .footer-container .news-footer input {
    font-size: 1.2rem;
    background-color: #eee;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 5px 5px;
    margin-top: 10px;
}

footer .footer-container .news-footer label {
    color: #666;
    padding: 15px 0;
}

footer .footer-container .news-footer img {
    margin-top: 20px;
}


/* responsive section */
@media screen and (max-width:965px) {
    .container{
        width: 95%;
    }
}

@media screen and (max-width:765px) {
    /* navbar */
    .menu-btn {
        display: block;
    }
    .menu .list {
        position: absolute;
        top: 50px;
        z-index: 99;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        background-color: #fff;
        width: 200px;
        padding: 10px;
        border-radius: 6px;
        transform: translate(200%);
        transition: .5s ease;
    }
    .menu .list.menu-open {
        transform: translate(0%);
    }
    .menu .list li a.active {
        color: #191970;
    }

    .menu .list li:hover a.active {
        color: #ff7800;
        
    }

}
